<!DOCTYPE html>
<html>
  <head>
    <title>Create Vendor Emas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/emas">Vendor Emas List</a></h3>
      <h1>Create New Vendor</h1>
      <form action="/emas/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Vendor</td>
              <td><input type="text" name="vendor" required="true" /></td>
            </tr>
            <tr>
              <td>Tanggal Berlaku</td>
              <td><input type="date" name="tgl_berlaku" required="true" /></td>
            </tr>
            <tr>
              <td>Jenis Harga</td>
            </tr>
            <tr>
              <td>Jual</td>
              <td style="text-align:left">
                <input type="radio" name="jenis_harga" value="J" >
              </td>
            </tr>
            <tr>
              <td>Beli</td>
              <td style="text-align:left">
                <input type="radio" name="jenis_harga" value="B" >
              </td>
            </tr>
            <tr>
              <td>Jenis Mulia</td>
              <td><input type="number" name="jenis_mulia" required="true" /></td>
            </tr>
            <tr>
              <td>Harga</td>
              <td><input type="number" name="harga" required="true" /></td>
            </tr>
            
          </tbody>
        </table>
        <table> Jenis Mulia
          <tr>
            <td colspan="2"><input type="submit" value="Save" /></td>
          </tr>
          <tr>
            <td colspan="2"><input type="reset" value="Reset" /></td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>